<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pagina principal Registraduria</title>
        <link rel="stylesheet" href="ingresar.component.scss">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class="logo">
                    <img src="assets/images/logo.png" alt="">
                </div>
                
                <ul class="nav-area">
                    <li><a href="https://www.registraduria.gov.co/-Quienes-somos-.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="https://www.registraduria.gov.co/-Mision-vision-y-politicas-.html">MISIÓN</a></li>
                    <li><a href="https://www.registraduria.gov.co/-Mision-vision-y-politicas-.html">VISIÓN</a></li>
                    <li><a href="/pages/seguridad/login">INICIAR SESIÓN</a></li>
                </ul>
                                
            </div>
            <br>
            <div class="header-image-menu" alt="">
                <img src="assets/images/Colombia.jpg">
                                       
            </div> 

                     
        </header>          

    </body>
    
</html>
