<div class="col-lg-12">
    
    <nb-card>

        <nb-card-header style="margin: auto">
            <img src="assets/images/regis.jpg" class="img-responsive" style="margin-top: -15px">
        </nb-card-header>
        
        <nb-card-header>
            <b>ADMINISTRACIÓN DE PARTIDOS</b> 
        </nb-card-header>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center">
                        <button style="margin-left: 20px" class="btn btn-success"(click)="Partido()"><b>Partidos</b>
                    </button></th>
                    <th scope="col" style="text-align: center">
                        <button style="margin-left: 20px" class="btn btn-success"(click)="Candidato()"><b>Candidatos</b>
                    </button></th>
                    <th scope="col" style="text-align: center">
                        <button style="margin-left: 20px" class="btn btn-success"(click)="Resultado()"><b>Resultados</b>
                    </button></th>
                </tr>
                <tr>
                    <th scope="col" style="text-align: center"> 
                        <button style="margin-left: 20px" class="btn btn-success"(click)="Mesa()"><b>Mesa</b></button></th>
                    <th scope="col" style="text-align: center"><button style="margin-left: 20px" class="btn btn-success"(click)="Usuario()"><b>Usuarios</b></button></th>
                        <th scope="col" style="text-align: center"><button style="margin-left: 20px" class="btn btn-success"(click)="Rol()"><b>Rol</b></button></th>
                </tr>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col" style="text-align: center"><button style="margin-left: 20px" class="btn btn-success"(click)="Permiso()"><b>Permiso</b></button></th>
                        <th scope="col"></th>
                </tr>                
            </thead>    
        </table>
    </nb-card>
</div>